html {font-size: 16px;}

:root {
	--headermargin: 5;
	--menupunkt:auto;
	--asidesize:20%; 
	--headerheight:74px;
	--footerheight:60px;
	--proportmenu:8%;
}

@media (max-width:760px){
:root {
		--menupunkt:26%;
		--headerheight:64px;
		--footerheight:40px;
		}	
	}
@media (max-width:640px){
:root {
		--proportmenu:10%;
		}	
	}
@media (max-width:480px){
:root {
		--proportmenu:12%;
		--headerheight:84px;
		--footerheight:70px;
		}	
	}
@media (max-width:320px){
:root {
		--proportmenu:12%;
		--headerheight:94px;;
		}	
	}

*, *:after, *:before {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   transition: .5s ease-in-out;
   /* добавим плавность переходов для всех элементов страницы*/
}
/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
   content: "";
   display: table;
   clear: both;
}
body {
   font-family: 'Montserrat', arial, sans-serif;
   line-height: 1;
   color: #373737;
   background: #f7f7f7;   /* background-color: #cacece; */
   min-height: 97vh;
}

/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
   margin: 0 auto;
   width: 100%;
   max-width: 960px; min-height: 100vh; display: flex; flex-direction: column;
  /* padding: 0 calc(var(--marginbody) * 1px);
    background: #ddd6d6;*/
}

.header{ display: flex; flex-direction: row; align-items: flex-start; z-index: 10; position: relative;
padding: 0px; width: 100%;
height: var(--headerheight);
left: 0px;top: 0px;
background: #E3EDF7;box-shadow: 0px 4px 8px rgba(136, 165, 191, 0.42);}
	
@media (max-width:640px){
.header{	position: -webkit-sticky;  position: sticky;  top: 0;  transition: 0.5s; }
.header_hidden {   transform: translateY(-100%); }
}
.logo{ display: flex; flex-direction: row; justify-content: left; align-items: stretch;
width: calc(var(--proportmenu) * 2);   height: 100%; left: 0px; top: 0px; background: #E3EDF7;
}
.logo img{margin:auto 5px;}

.headernav{display: flex; flex-direction: row; align-items: flex-start; padding: 15px 0px 12px; 
width: calc(var(--proportmenu) * 8); height: 100%; 
background: #E3EDF7; font-size: 0.9rem;font-weight: 400; text-transform: uppercase;
}
@media (max-width:840px){.headernav{font-size: 0.8rem;} }
@media (max-width:720px){
	.headernav{font-size: 0.8rem; padding: 5px 0px 5px;} 
	.logo {width: calc(var(--proportmenu) * 1.5);}
}
@media (max-width:640px){.headernav{ gap: 2px;font-size: 0.75rem } }
@media (max-width:520px){.logo {display:none;}}

.finder{width: calc(var(--proportmenu) * 2.5); height: 100%;display: flex;align-self: flex-end; flex-direction: row; justify-content: right; align-items:center; padding-right:4px;}
@media (max-width:640px){.finder {width: calc(var(--proportmenu) * 2.5);}}
@media (max-width:480px){
.finder {width: calc(var(--proportmenu) * 1.5);}
.headernav{font-size: 0.7rem;}
}

ul.menu {display: flex; flex-wrap: nowrap;width: 100%; height:100%; gap:10px }
.menu li {    margin-right: 0px;/* max-width:var(--menupunkt);*/  flex-grow: 1;}

@media (max-width:720px){ul.menu{ gap: 1px;} }

.searchinput{ display: flex; align-items:center; margin-left:3px; flex-direction: row; 
position: relative;  width:90%; top:20%;
height:calc(100% / 3);
background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #EBECF0;
background-blend-mode: soft-light, normal;
border: 1px solid rgba(255, 255, 255, 0.4);
box-shadow: inset -5px -5px 10px #FAFBFF, inset 5px 5px 10px rgba(136, 165, 191, 0.55);
border-radius: 47px;}

.searchinput form {width:95%; display: flex; flex-direction: row; }
.searchinput input {width:100%; background-color:transparent; border: none;  outline: 0;    outline-offset: 0;}
.buttsearch{background: center no-repeat url('img/lupa.svg') transparent; width:25%;  border: none; cursor:pointer;}

.buttsearcharea{height: var(--headerheight);} /*???*/
.buttsearchtag{width: 40px; height: 40px; margin-left:5px; border: none;  cursor:pointer;
 background: center no-repeat url('img/lupa.svg') #E3EDF7; background-size: 50%; box-shadow: -4px -2px 6px #FFFFFF, 4px 2px 10px rgba(136, 165, 191, 0.48);
border-radius: 8px;transition: .5s; }
.buttsearchtag:hover, .buttsearchtag.active{  background-size: auto; 
box-shadow: inset -3px -3px 10px #FFFFFF, inset 3px 3px 10px rgba(136, 165, 191, 0.48);
border-radius: 8px;}

.dropsearch{position: absolute; display:flex;flex-direction:column; align-items: center; right:3px;top:74px; padding:5px; opacity: 0;  visibility: hidden;/**/
        transition: visibility 0.5s, opacity 0.5s ease-in-out;
    background: #E3EDF7; box-shadow: -3px -3px 7px #FFFFFF, 3px 3px 7px rgba(136, 165, 191, 0.48);
	border-radius: 8px;
    min-width: 160px;max-width: 260px}
.dropsearch.active{visibility: visible;     opacity: 1;     transition: visible 0.5, opacity 0.5s ease-in;}

.dropblock{display: grid; grid-template-columns: 50% 50%; column-gap: 15px; row-gap: 10px; margin: 10px;  padding: 0 5px;}
.dividedrop{ background: #B7C7D5; border-radius: 50px; width:97%;height:3px; margin: 5px 0;}

.tagsearch{width: 47%; }
.tagsearch input{ position: absolute;   z-index: -1;  opacity: 0;}
.tagsearch input+label {   display: inline-flex;   align-items: center;   user-select: none; cursor:pointer;}
.tagsearch input+label::before{content: ''; cursor:pointer;
  display: inline-block;   width: 1.2em;   height: 1.2em;   flex-shrink: 0;   flex-grow: 0; margin-right:5px; border-radius: 26px;
 background: linear-gradient(87.87deg, #FFFFFF 3.58%, #587CA5 305.99%);
box-shadow: -2px -1px 4px rgba(255, 255, 255, 0.4), inset 2px 2px 3px rgba(213, 230, 245, 0.4), inset -4px -3px 4px rgba(79, 98, 120, 0.2);
border-radius: 26px;
  }
.tagsearch input:checked+label::before{
box-shadow: inset 3px 3px 5px rgba(213, 230, 245, 0.4), inset 2px 2px 3px rgba(79, 98, 120, 0.9);
}

.toggleparam{display:flex; flex-direction:row; width:98%;gap:27px; justify-content:flex-start;align-items:center;}
.togglecheck{position: relative;display: inline-block; height: 63px; margin-left:3px;}
.togglesearch{margin-left: auto;}

.togglecheck input[type=checkbox] {
  visibility: hidden; position: relative; top: 20px;
}
.togglecheck input[type=checkbox]:checked + label {   transform: rotate(0deg);   background: linear-gradient(127.87deg, #FFFFFF 3.58%, #587CA5 305.99%); 
box-shadow: -2px -1px 4px rgba(255, 255, 255, 0.4), inset 2px 2px 3px rgba(213, 230, 245, 0.4), inset -4px -3px 4px rgba(79, 98, 120, 0.2);}
.togglecheck input[type=checkbox]:checked + label:before {   transform: translateX(0px);   background: linear-gradient(127.87deg, #FFFFFF 3.58%,#587CA5  305.99%); 
content: "and"; 
}

.togglecheck label {   display: flex;   width: 70px;   height: 35px;
		background: linear-gradient(87.87deg, #FFFFFF 3.58%, #587CA5 305.99%);
box-shadow: -2px -1px 4px rgba(255, 255, 255, 0.4), inset 2px 2px 3px rgba(213, 230, 245, 0.4), inset -4px -3px 4px rgba(79, 98, 120, 0.2);
     border-radius: 1em; 
  position: relative;   transition: transform 0.75s ease-in-out;   transform-origin: 50% 50%;   cursor: pointer;
}
.togglecheck label:before {   transition: transform 0.75s ease;   transition-delay: 0.5s;
  content: "or";   display: block;    width: 50%;   height: 28px;   background-color: transparent;
  border-radius: 50%;   top: 3px;   left: 5px; margin: auto; color: #666464; font-size:1rem; text-align: center; padding-top:4px;
}




/*@media (max-width:640px){ .logo{  order:2;}}

.nav-toggle{display: none;}
@media (max-width:640px){ .nav-toggle{ display:block; order:1;}}
.hamburger{background: center / 80% no-repeat url('img/menu.png') ; width:2rem; height:2rem;}*/


/*.finder:after {  .finder form{display: flex; align-items:center; margin-left:3px; width:100%;}
  content: ""; position: absolute;   width: calc(100%);
  height: calc(100%);   border-radius: 5%;   background: transparent;
  box-shadow: -3px -3px 7px #fff, 3px 3px 5px rgba(94, 104, 121, 0.712);
}*/
/*.finder form{display: flex; align-items:center; margin-left:3px; padding-left:5px;}
.finder input{min-width: 80%;z-index: 5;}
.finder .findbutton{display:none;}*/

/*.findbutton {background: center / 80% no-repeat url('img/find.png'); width:2rem; height:2rem;}
@media (max-width:480px){ .finder form{  display:none;}  .finder .findbutton{display:block;} }

.button {width:2rem; height:1.2rem; margin-left:3px;z-index: 5; border: 1px solid #b0b4b9;border-radius: 5px;}
.button:hover{background: #b0b4b9;transition: 0.5s ease-in-out;}*/

/*.menublock {display: flex; flex-direction:row;  order:3; width: 70%; height:3rem; justify-content: space-between;}
@media (max-width:760px){ .menublock{ flex:1 0.4 300px; }}
@media (max-width:760px){ .menublock{ flex:1 0.4 300px; }}
@media (max-width:640px){ .menublock{ display:none; }} */





.mainpart{display: flex; flex-direction:row; z-index: 1; position: relative; flex: 3 1 ;height: 100%;}
@media (max-width:640px){.mainpart{ flex-direction:column;} }

.main{background: #E3EDF7; flex: 3 1 calc(100% - var(--asidesize));display: flex; flex-direction:column; padding: 10px; gap:10px;}
.main-header{ display:flex; justify-content:center; align-items:center;
width: 100%; height: 47px;
background: #E3EDF7; box-shadow: -3px -3px 7px #FFFFFF, 3px 3px 7px rgba(136, 165, 191, 0.48); 
border-radius: 8px;}
.article{width: 100%;  flex: 1 1 auto; /*fill all block*/ padding: 10px;
display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;
background: #E3EDF7;
box-shadow: inset -3px -3px 7px #FFFFFF, inset 2px 2px 5px rgba(136, 165, 191, 0.38);
border-radius: 16px;}


.aside{background: #E3EDF7; flex: 1 1 var(--asidesize); display:flex;flex-direction:column; padding: 10px 10px 10px 0; gap:10px;}
.asideup{display:flex; width: 100%; min-height: calc(100vh / 2 - 20%); padding:5px;
background: #E3EDF7; box-shadow: -3px -3px 7px #FFFFFF, 3px 3px 7px rgba(136, 165, 191, 0.48);
border-radius: 8px;}
.asidedown{display:flex; width: 100%; flex-basis: content; padding:5px;
background: #E3EDF7; box-shadow: inset -3px -3px 7px #FFFFFF, inset 3px 3px 7px rgba(136, 165, 191, 0.48);
border-radius: 8px; }
@media (max-width:640px){
.aside{padding-left:10px;}
.asideup{flex-basis: content; background: #E3EDF7; box-shadow: inset -3px -3px 7px #FFFFFF, inset 3px 3px 7px rgba(136, 165, 191, 0.48);} 
}

.imagebord { display: grid;   grid-template-columns: 20px  1fr 20px;   grid-template-rows:  1fr 40px 10px; align-items: end;
padding:10px;  position:relative; align-self: center;
background: #E3EDF7; box-shadow: -5px -2px 8px #AABDD1, 7px 3px 12px rgba(136, 165, 191, 0.58);
border-radius: 16px;}
.image {max-width:100%; clip-path: inset(0% 100% 0 100% round 10px); grid-column: 1 / -1;   grid-row: 1 / -1; max-height: 80vh; }
.noteimage{grid-column: 2 / -1; grid-row: 2/ 3; position: relative;
color: white; text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.73), -3px -3px 8px rgba(0, 0, 0, 0.73);
}
@media (max-width:640px){
.noteimage{font-size:0.9rem;}
}
@media (max-width:500px){
	.imagebord{grid-template-rows:  1fr 10px auto; padding: 5px;}
	.image{grid-row: 1 / -2;}
	.noteimage{grid-row: 3/ 4; color: black;text-shadow:none; margin-top:10px;font-size:0.8rem;}
}



.overlay{display:none;position: fixed; align-items:center;  justify-content:center;
    top: 0%; left: 0%; width: 100%; height: 100%;
    background-color: black; z-index:1001;  opacity:.70;     
	transition: .5s ease-in; }
.light-content{display:none;position: fixed; align-items:center;  justify-content:center;
    top: 0%; left: 0%; width: 100%; height: 100%;z-index:1002;}

.overpicture{display: grid;  grid-template-columns: 20px  1fr 50px;   grid-template-rows:  1fr 40px 10px; align-items: end;
max-width:1200px;  opacity:1; z-index: 1003; max-height:100vh; padding:7px;
background: #E3EDF7; box-shadow: -5px -2px 8px #AABDD1, 7px 3px 12px rgba(136, 165, 191, 0.58);border-radius: 16px;
}
.overpicture img{max-width:100%;max-height:97vh; clip-path: inset(0% 100% 0 100% round 10px); grid-column: 1 / -1;   grid-row: 1 / -1;}
.overnote{position: relative;grid-column: 2 / -1; grid-row: 2/ 3; 
color: white; text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.73), -3px -3px 8px rgba(0, 0, 0, 0.73);}
.overclose{grid-column: 3 / 4; grid-row: 1 / 1; position: relative; align-self: start; justify-self: end; width: 40px;height: 40px;}
.closepicture g:hover circle, g:hover path {   transform: scale(1.2) rotate(45deg) ; }

@media (max-width:640px){
.overnote{font-size:0.9rem;}
}
@media (max-width:400px){
.overpicture{grid-template-rows:  1fr 10px auto;}
.overpicture img{grid-row: 1 / -2;}
.overnote {grid-row: 3/ 4; color: black;text-shadow:none; margin-top:10px;font-size:0.8rem;}
}

/*@media (max-width:640px){ 
.mainpart{ flex-direction:column;  }
.main{min-height:100vh;} .aside{min-height:20vh;}
}*/

.footer{display:flex; flex-direction:row; height:var(--footerheight);background: #E3EDF7; position:relative;z-index:10;
filter: drop-shadow(0px -4px 4px rgba(251, 253, 255, 0.75));}
.footernav{display:none;  width:85%;  font-size:0.8rem;}
.nextmenu{display:none;  width:15%;}

@media (max-width:640px){ 
	 .footer{align-items: center;
	 height:3rem;position: -webkit-sticky;  position: sticky;  bottom: -3rem;  transition: 0.5s;}
	 .footer_hidden {  bottom: 0; }

	.footernav{display:flex; height:90%;align-items:center;justify-content:space-around; flex: 1 1 0px;}
	.menufooter{display: flex; flex-wrap: nowrap;width: 100%; height:100%; gap:1px }
	.menufooter li{flex-grow: 1;}
}


/*@media (max-width:640px){ 
.nextmenubutton{height:100%; ;background: transparent; flex: 1 1 0px;}
.footernav{display:flex; height:90%;align-items:center;justify-content:space-around; flex: 1 1 0px; }
.nextmenu{display:flex; height:90%; justify-content:flex-start; }
}*/

/*
Обычно адаптивные макеты имеют шесть вариантов макетов в зависимости от ширины экрана:
320
480   align-items:center;justify-content:space-around; flex: 1 1 0px; overflow: hidden;
760  justify-content:space-around; overflow: hidden;flex-wrap: no-wrap;
960
1200  flex: 1 1 0px; width:calc( 100%  / 3 );
1600.
*/

.over {
	display: flex;
flex-direction: row; justify-content: center; align-items: stretch;  gap: 5px; max-width:30%;
 height: 100%;
background: linear-gradient(317.7deg, rgba(0, 0, 0, 0.4) 0%, rgba(255, 255, 255, 0.4) 105.18%), #E3EDF7;
background-blend-mode: soft-light, normal;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(136, 165, 191, 0.42), -3px -3px 10px rgba(250, 251, 255, 0.84);
border-radius: 7px;
transition: all .5s ease-in;
	}

.overtext {	
font-style: normal; text-decoration:none; width:100%; 
line-height: 22px; padding: 0 5px;
display: flex; align-items: center; text-align: center; color: #000000;
transition: all .5s ease-in;
}
.over:hover, .over:active {   box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.25), inset -2px -2px 4px rgba(255, 255, 255, 0.67);}
.overtext span {white-space: nowrap;margin:auto; overflow: hidden;     text-overflow: ellipsis;}	
.overtext:hover, .overtext:active {color: #2541D4 }

@media (max-width:720px){ 
	.over{border-radius: 2px; border:1px solid #7AA7D2B3; }
	.overtext span{white-space: normal;}
}


